body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos entre los bordes */
    padding: 1px;
    width: 100%;
    height: 85px;
    background-color: #333;
    color: white;
}

header .logo {
    margin-left: 20px;
}

header h1 {
    margin-left: 20px;
    flex-grow: 1; /* Ocupa el espacio restante entre el logo y los enlaces */
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #555;
}

section{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}
.carta {
    margin: 50px;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
}
.carta:hover {
    transform: scale(1.05);
}
form{
    padding: 20px 20px;
}

table{
    padding: 20px 20px;
}
.buscar {
    padding-left: 20px;
}
.boton-eliminar {
    background-color: rgb(212, 97, 97);
}
.boton-editar {
    background-color: rgb(204, 204, 105);
}
p{
    font-size: 20px;
    text-align: center;
}
table {
    font-size: 15px;
    width: 100%;;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
button{
    background-color: rgb(101, 141, 101);
    border-radius: 10%;
    cursor: pointer;
}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px; 
}