body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header .logo img {
    margin-right: 20px;
}

header h1 {
    flex-grow: 1;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4d4a4a;
}

main {
    padding: 20px;
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenido */
}

.form-section, .table-section {
    margin: 20px 0;
}

.carta {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
}

label {
    margin-top: 16px;
    font-weight: bold;
}


input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#oferta, #categoria, #condicion {
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.boton-eliminar{
    background-color: rgb(212, 21, 21);
}

.boton-editar{
    background-color: rgb(230, 206, 27);
}

.boton-eliminar:hover{
    background-color: #711512;
}

.boton-editar:hover {
    background-color: #7a6713;
}

#modificar {
    display: none;
}